.provider
{
  display: none;
  z-index: 1;
}
.bill
{
  display: none;
}
.bank
{
  display: none;
}
.storage
{
  display: none;
}
.display_block
{
  display: block !important;
}
table, td {
  border: 1px solid black;
}
td{
  width: 200px;
}
.addProvider, .addBill , .addAccount, .addBank, .addContract, .addNomenOfDel, .addBillDet
{
  display: none;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
  border: 1px solid black;
  background: darkorange;
  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
} 
.addBillDet input ,select{
  width: 50%;
  margin: 10px auto;
}

.addProvider input ,select{
  width: 50%;
  margin: 10px auto;
}

.addBill input, select{
  width: 50%;
  margin: 10px auto;
}

.addAccount input, select {
  width: 50%;
  margin: 10px auto;
}

.addBank input, select {
  width: 50%;
  margin: 10px auto;
}

.addContract input, select {
  width: 50%;
  margin: 10px auto;
}

.addNomenOfDel input{
  width: 50%;
  margin: 10px auto;
}

.displayFlex{
  display: flex !important;
}

.inputButton{
  margin: 0 auto;
  display: flex;
}
.inputButton input{
  margin: 5px;
  width: auto;
}